.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity/Logs
/Unity/Assets/StreamingAssets/
/netcoreapp2.0
/Unity/Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/Unity/.gradle
/*.user
/ToolsApp/
/Unity/Unity.Editor.csproj
/Unity/Assets/Bundles/Code/Code.dll.bytes
/Unity/Assets/Bundles/Code/Code.dll.bytes.meta
/Unity/Assets/Bundles/Code/Code.pdb.bytes
/Unity/Assets/Bundles/Code/Code.pdb.bytes.meta
/Unity/Assembly-CSharp.csproj
~$*.xlsx
~$*.xlsx.meta
/.vscode
/Unity/UserSettings/Search.settings
/Unity/Unity.Hotfix.csproj
/Unity/Unity.HotfixView.csproj
/Unity/Unity.Model.csproj
/Unity/Unity.ModelView.csproj

/Unity/ProjectSettings/RiderScriptEditorPersistedState.asset
/Unity/Unity.Core.csproj
/Unity/UserSettings
/Unity/Assets/Scripts/Codes/Link/
/Unity/Bundles
/Unity/Assets/Scripts/Codes/ModelView/Client/MiniGame.meta
/Unity/Assets/Scripts/Codes/ModelView/Client/MiniGame
/Unity/Assets/Scripts/Codes/Model/Client/MiniGame.meta
/Unity/Assets/Scripts/Codes/Model/Client/MiniGame
/Unity/Assets/Scripts/Codes/Model/Server/MiniGame.meta
/Unity/Assets/Scripts/Codes/Model/Server/MiniGame
/Unity/Assets/Scripts/Codes/HotfixView/Client/MiniGame.meta
/Unity/Assets/Scripts/Codes/HotfixView/Client/MiniGame
/Unity/Assets/Scripts/Codes/Hotfix/Server/MiniGame.meta
/Unity/Assets/Scripts/Codes/Hotfix/Server/MiniGame
/Unity/Assets/Scripts/Codes/Hotfix/Client/MiniGame.meta
/Unity/Assets/Scripts/Codes/Hotfix/Client/MiniGame
/Unity/Assets/BundleYoo/MiniGame
/Unity/Assets/BundleYoo/MiniGame.meta
/Unity/Assembly-CSharp-Editor.csproj
/Unity/Assembly-CSharp-firstpass.csproj
/Unity/FairyGUI.Runtime.csproj
/Unity/FGUI.Editor.csproj
/Unity/Sirenix.OdinInspector.CompatibilityLayer.csproj
/Unity/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/Unity/Sirenix.OdinInspector.Modules.UnityMathematics.csproj
/Unity/Unity.Core.csproj
/Unity/Unity.Editor.csproj
/Unity/Unity.Hotfix.csproj
/Unity/Unity.HotfixView.csproj
/Unity/Unity.Codes.csproj
/Unity/Unity.Loader.csproj
/Unity/Unity.Ignore.csproj
/Unity/Unity.Model.csproj
/Unity/Unity.ModelView.csproj
/Unity/Unity.Mono.csproj
/Unity/Unity.ThirdParty.csproj
/Unity/Assembly-CSharp.csproj
/Unity/Assets/BundleYoo/MiniGame
/Unity/Assets/BundleYoo/MiniGame.meta
/Unity/Assets/BundleYoo/LubanBin
/Unity/Assets/BundleYoo/LubanBin.meta
/Tools/.cache.meta
Publish/
/Unity/HybridCLRData
/Unity/Release-Win64
/Unity/IngameDebugConsole.Runtime.csproj
/Unity/IngameDebugConsole.Editor.csproj
/Unity/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/Unity/Sirenix.OdinInspector.Modules.UnityMathematics.csproj
/Unity/Sirenix.OdinInspector.CompatibilityLayer.csproj
/Unity/Assembly-CSharp-Editor-firstpass.csproj
/Unity/Assembly-CSharp-firstpass.csproj
/Unity/Assembly-CSharp-firstpass.csproj
/Unity/Assembly-CSharp-firstpass.csproj
/Unity/HybridCLRData/LocalIl2CppData
/Unity/HybridCLRData/hybridclr_repo
/Unity/HybridCLRData/il2cpp_plus_repo
/Unity/HybridCLRData/AssembliesPostIl2CppStrip
/Unity/HybridCLRData/HotFixDlls
/Unity/Assets/Bundles/AssetBundleOutput.meta
/Unity/Assets/Bundles/AssetBundleOutput
/Unity/Assets/Bundles/AssetBundleSourceData
/Unity/Assets/Bundles/AssetBundleSourceData.meta
/Unity/Assets/Bundles/Code/*
/Unity/Assets/Bundles/AssetBundleOutput.meta
/Unity/Assets/Bundles/AssetBundleOutput
/Unity/Assets/Bundles/AssetBundleSourceData
/Unity/Assets/Bundles/AssetBundleSourceData.meta
/Unity/Unity.Editor.Codes.csproj
/Unity/Unity.Hotfix.Codes.csproj
/Unity/Unity.HotfixView.Codes.csproj
/Unity/Unity.Model.Codes.csproj
/Unity/Unity.ModelView.Codes.csproj
/Unity/Unity.GenerateClient.csproj
/Unity/Unity.GenerateServer.csproj
/Unity/Aftershock.Base.csproj
/Unity/Aftershock.Editor.csproj
/Unity/Aftershock.Runtime.csproj
